body {
    background: url("../img/home/top-bg.jpg") top center repeat-x, url("../img/home/body-bottom.jpg") bottom center no-repeat;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none !important;
}

.btn-v2 {
    border: none;
    outline: none;
    background-color: #ec5c51;
    color: white;
}

.btn-v2:hover {
    background-color: #e8463a;
}

.bg-main {
    background-color: #ec5c51 !important;;
    color: white !important;;
}

.cl-main {
    color: #ec5c51 !important;
}

.require-form {
    color: #ec5c51 !important;
}

.cl-main:hover {
    color: #e8463a !important;
}

.hidden {
    display: none;
}


.box-shadow {
    box-shadow: 0 0 5px grey;
}

.dropdown {
    padding-right: 0 !important;
}

header {
    padding: 15px 0;
}

header .login-regiser-btn {
    text-align: right;
}

header .login-regiser-btn > div {
    display: inline-block;
    padding: 9px 40px;
}

header .login-regiser-btn .btns a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

header .login-regiser-btn .login-btn {
    margin-right: 15px;
    background: url("../img/home/btn_login.png") no-repeat;
}

header .login-regiser-btn .register-btn {
    background: url("../img/home/btn_register.png") no-repeat;
    padding-right: 50px;
}

header .login-regiser-btn .register-btn a {
    color: black;
}

.inner-container .inner-content{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.inner-container .inner-content .title-inner {
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.inner-container .inner-content .title-inner h3 {
    font-weight: bold;
    text-align: center;
}

.menu-container {
    margin: 15px 0;
    box-shadow: 0 0 5px black;
}

.menu-container {
    height: 50px;
    border-radius: 50px;
    padding: 0 30px;
    background-color: #ec5c51;
}

.menu-container .menu-list > ul {
    margin: 0 !important;
    padding-left: 0;
    position: relative;
}

.menu-container .menu-list > ul > li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.menu-container .menu-list > ul li a {
    color: rgb(230, 230, 230);
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.menu-container .menu-list > ul li:hover > .menu-dropdown {
    display: block;
}

.menu-container .menu-list > ul li a:hover {
    color: rgb(255, 255, 255);
}

.menu-container .menu-list > ul li a .fa-sort-down{
    height: 26px;
}

.menu-container .menu-list > ul li a .input-nhap-ma-code {
    display: inline-block;
    /* margin-left: 5px; */
    position: absolute;
    left: 35px;
    top: -6px;
    width: 150px;

}

.menu-container .search-container {
    float: right;
    margin: 8px 0;
    width: 250px;
}


.menu-container .menu-dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 101%;
    background-color: #ec5c51;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey; 
    z-index: 5;
}

.menu-container .menu-dropdown li {
    display: inline-block;
    /* width: 400px; */
    background-color: #d23327;
    border-radius: 15px;
    /* margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px; */
    margin: 5px 15px
}

.menu-container .menu-dropdown li a {
    display: inline-block;
    line-height: 30px;
    width: 100%;
    padding: 0 15px;
}

.menu-container .menu-dropdown li:hover {
    background-color: rgb(254, 232, 159);
    color: black;
}

.menu-container .menu-dropdown li:hover a {
    color: black !important;
}


/* HOME  */
.home-container .container .home-content{
    padding: 0 50px;
    background-color: white;
}

.home-container .container .home-content .exam-item-container {
    box-shadow: 0 0 5px grey;
    border-radius: 10px;
    overflow: hidden;
}

.home-container .container .home-content .exam-item-container .exam-cover-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-container .container .home-content .exam-item-container .exam-cover-item img {
    width: 100%;
}


.home-container .container .home-content .exam-item-container .title {
    margin-top: 10px;
}

.home-container .container .home-content .exam-item-container .title a{
    color: #ec5c51;
}

.home-container .container .home-content .exam-item-container .title a:hover{
    color: #ff7b72;
}

.home-container .container .home-content .exam-item-container .info span {
    color: gray;
    font-size: 11px;
    margin-right: 10px;
}